.recipe-description {
  .recipe-description__ingredients {
    .list-ingredients {

    }
  }
  .recipe-description__prepa {
    .recipe-intro {
      border-top: 2px solid #3f51b5;
      .recipe-intro__prepa-time {
        border-right: 2px solid #3f51b5;
      }
    }
  }
.recipe-preparation-steps {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  counter-reset: step;
  li {
    margin-left: 10px;
    padding-left: 1.5em;
    position: relative;
    border-left: 3px solid #3f51b5;
    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -1em;
      margin: auto;
      background: #3f51b5;
      color: white;
      border-radius: 50%;
      height: 2em;
      width: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 4px solid #F5F5F5;
      counter-increment: step;
      content: counter(step);
    }
    &:nth-child(even) {
      background-color: lighten(#3f51b5, 45%);
    }
  }
}
}
